1_Project/1_Sources/backend/node_modules/
1_Project/1_Sources/backend/dist/
1_Project/1_Sources/backend/data/
1_Project/1_Sources/backend/.env*
1_Project/1_Sources/frontend/node_modules/
1_Project/1_Sources/frontend/dist/
1_Project/1_Sources/frontend/src/environments/*
